---
layout: compress
---

<!doctype html>
<html lang="en" class="no-js{% if page.url == "/" %} home-sections-page{% endif %}">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    <div id="main" role="main">
      {% include sidebar.html %}
    
      <article class="page" itemscope itemtype="http://schema.org/CreativeWork">
        {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
        <div class="page__inner-wrap">
          <section class="page__content" itemprop="text">
            {% if page.url == "/" %}
              <div id="home-panel" class="home-content-panel">
                {{ content }}
              </div>
              <div id="blog-panel" class="home-content-panel" hidden>
                {% include blog-panel.html %}
              </div>
            {% else %}
              {{ content }}
            {% endif %}
          </section>
        </div>
      </article>
    </div>

    {% include scripts.html %}

  </body>
</html>
